/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");

@import "variables.css";

/*components*/
@import "components/wide_screen.css"; /*fist page. notice of wide screen*/
@import "components/status-bar.css"; /*battery info, etc.*/
@import "components/first-header.css"; /*main header*/
@import "components/nav.css"; /*navigation*/
@import "components/iconNoti.css"; /*alert*/
@import "components/alt-screen-header.css"; /*second header*/
@import "components/user-component.css"; /*user profile*/
@import "components/icon-row.css"; /*icon row*/



 /*screens*/
@import "screens/index.css"; /*login*/
@import "screens/chat.css"; /*single Chat*/
@import "screens/friends.css"; /*friends*/
@import "screens/find.css"; /*find*/
@import "screens/more.css"; /*etc*/
@import "screens/settings.css"; /*setting*/      

body {
  font-family:'Open Sans', sans-serif;
  color: black;
  background-color: var(--bgcl);
  animation: fadeInBody 1s ease-in-out;
  animation-delay: 0s;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

@keyframes fadeInBody {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a:link, a:visited, a:focus{
  text-decoration: none;
  color:black;
  outline: none;
}