@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap"); /*글꼴*/
@import "reset.css"; /*브라우저가 default로 설정해 놓은 모든 css style을 삭제.*/
@import "variables.css"; /*사용될 css변수들의 저장창고*/

@import "components/status-bar.css"; /*component(폰상태창)*/
@import "components/nav.css"; /*component(네비게이션바)*/
@import "components/badge.css"; /*component(alert badge)*/
@import "components/screen-header.css"; /*component(스크린 헤더)*/
@import "components/alt-screen-header.css"; /*component(스크린 헤더2)*/
@import "components/user-component.css"; /*component(사용자 프로필)*/
@import "components/icon-row.css"; /*component(아이콘 행)*/
@import "components/no-mobile.css"; /*component(media-query)*/


@import "screens/login.css"; /*login페이지*/
@import "screens/welcome.css"; /*welcome 페이지*/
@import "screens/friends.css"; /*friends페이지*/
@import "screens/find.css"; /*find페이지*/
@import "screens/more.css"; /*more페이지*/
@import "screens/settings.css"; /*setting페이지*/
@import "screens/chat.css"; /*chatting페이지*/

body {
<<<<<<< HEAD
  font-family: "Akaya Kanadaka", cursive;
  color: black;
  background-color: var(--pinkgold);
  animation: fadeInBody 1s ease-in-out;
  animation-delay: 0s;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

@keyframes fadeInBody {
  from {
    opacity: 0;
=======
      font-family:'Open Sans', sans-serif;
  }
    
  
  .main-screen {
    padding: 0px var(--horizontal-space);
    margin-top: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
>>>>>>> ed99168ba7035c1a1358661e0da952c12a6bdf2b
  }
  to {
    opacity: 1;
  }
}
