#welcome {
    font-size: 30px;
    text-align: center;
    padding-top: 80px;
    font-weight: 600;
    margin-bottom: 40px;

}

.main-screen .welcome-des {
    margin-bottom: 15px;
    text-align: center;
    color: gray;
}

.loginform>input:focus{
    outline: none;
}

.loginform{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:70%;
    margin-top: 100px;
}

.loginform input {
    width: 100%;
    margin-bottom: 15px;
    height: 30px;
    border: 0px;
    border-bottom: #ddd solid 1px;
}

.loginform>input:nth-child(n+3){
    border: none;
}
    

#f-account{
    font-size: 13px;
    color: #ddd
}

#f-account>a:link, 
#f-account>a:hover, 
#f-account>a:visited {
    text-decoration: none;
    color: #aaa;
} 

