#welcome {
    font-size: 20px;
    text-align: center;
    padding-top: 80px;
    font-weight: 600;
}

.main-screen .welcome-des {
    margin-top: 20px;
    text-align: center;
    color: gray;
}

.main-screen p:nth-child(2){
    margin-top: 0px;
}

