.alt-header {
  top: 0px;
  display: flex;
  padding: 40px 20px 20px 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.alt-header-title {
  font-size: 28px;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column:last-child i:first-child {
  margin-right: 13px;
}
