#wide_screen {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
    z-index: 99;
    width: 100vw;
    height: 100vh;
    font-size: 32px;
  }
  
  @media screen and (max-width: 650px) {
    #wide_screen {
      display: none;
    }
  } ;
  